@{
    ViewBag.Title = "Main Home Page";
}
@section featured {
    <section class="featured">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
                <div class="row">
                    <div class="span 6 offset4">
                        <iframe width="640" height="360" src="http://www.youtube.com/embed/KL50Y6YB6Vw?list=PLo29UbyCzsEuPgxn6kFQtklU3EyoQWPqs&amp;hl=en_GB" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="span 6 offset4">
                        <iframe width="800" height="360" src="http://www.reddit.com/" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="item">
                 <div class="row">
                    <div class="span 6 offset4">
                        <iframe width="800" height="360" src="http://imgur.com/" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </section>
}
