@model DatabaseProject.Models.PostListModel

@{
    ViewBag.Title = "Public Posts";
}

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <section class="item active">
        <div class="row">
            <div class="span6 offset2">
                <div class="hero-unit">
                    <h3>Welcome to the Public Post Viewer!</h3>
                    <p>Here you can view public posts even if you are not logged in. 
                    If you want to see more, click below to register or log in!
                    </p>
                    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-large" 
                        style="color: White;">Log in to see more posts! &raquo;</a></p>
                </div>
            </div>
        </div>
    </section>
    @foreach (var x in Model.posts)
    {
        <section class="item">
            <div class="row">
                <div class="span6 offset2">
                    <div class="hero-unit">
                        <h2>Post #@x.cid</h2>
                        <h3>@x.fname at @x.ptime</h3>
                        <p>@x.ctext</p>
                    </div>
                </div>
            </div>
        </section>
    }
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>