@model DatabaseProject.Models.PostListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Content Home Page";
}

<div class="row">
    <div class="span2">
        <div class="tabbable tabs-left pull-left">
            <ul class="nav nav-tabs">
                <li>
                    <a href="@Url.Action("Index", "ContentItem", new { page = 0})" data-toggle="body"><i class="icon-book"></i>Read</a>
                </li>
                <li>
                    <a href="@Url.Action("Write","ContentItem")" data-toggle="body"><i class="icon-pencil"></i>Write</a>
                 </li>
                <li>
                    <a href="@Url.Action("Search", "ContentItem")" data-toggle"body"><i class="icon-search"></i>Search</a>
                </li>
            </ul>
        </div> @*--End tabbable*@
    </div>@*--End span2*@
    <div class="span7">
        <div class="body pull-left">
            @RenderBody()
        </div> @*--End body*@
    </div> @*--End span6*@
</div>@*--End row*@