@model DatabaseProject.Models.PrivacyModel

@{
    ViewBag.Title = "AddtoGroup";
    Layout = "~/Views/Shared/_PrivacyLayout.cshtml";
}

@{
    List<SelectListItem> user_lst = new List<SelectListItem>();

    foreach (var x in Model.users)
    {
        user_lst.Add(new SelectListItem() { Text = (x.Value.Key + ", " + x.Value.Value), Value = x.Key.ToString(), Selected = false });   
    }

    SelectList users = new SelectList(user_lst, "Value", "Text");
}

<h3>Please choose which user to add</h3>
@using(Html.BeginForm("AddUserToGroup","Privacy"))
{
    <fiedset>
        <div class="input-append">
            @Html.DropDownListFor(m => m.user, users)          
            <button class="btn" type="submit"><i class="icon-plus"></i>Add</button>
        </div>
    </fiedset>
}