@model DatabaseProject.Models.PrivacyModel

@{
    ViewBag.Title = "RemoveGroup";
    Layout = "~/Views/Shared/_PrivacyLayout.cshtml";
}

@{
    List<SelectListItem> group_lst = new List<SelectListItem>();

    foreach (var x in Model.groups)
    {
        group_lst.Add(new SelectListItem() { Text = x, Value = x, Selected = false });   
    }

    SelectList groups = new SelectList(group_lst, "Value", "Text");
}

<h3>Please select a group to remove</h3>
@using(Html.BeginForm("RemoveUserGroup","Privacy"))
{
    <fiedset>
        <div class="input-append">
            @Html.DropDownListFor(m => m.group, groups)
            <button class="btn" type="submit"><i class="icon-minus"></i>Remove group</button>
        </div>
    </fiedset>
}