@model DatabaseProject.Models.PrivacyModel

@{
    ViewBag.Title = "View Group Users";
    Layout = "~/Views/Shared/_PrivacyLayout.cshtml";
}

<h2>Your Group's Users</h2>
<ul>
    @foreach(var x in Model.users)
    {
        <li>@x.Value.Key
        ,
        @x.Value.Value</li>
    }
</ul>